/*
Modra - #1F509A
Silnomodra - #0A3981
Biela - #D4EBF8
Oranzova - #E38E49
Font Bebas Neue

2

Cervena -  #A22C29
Biela - #FFFFFF
Modra - #0E79B2
Cierna - #0E131F 
Oranzova - #F39237 
*/


body,html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

header {
    display: flex; 
    position: fixed;
    top: 0;
    left: 0;   
    width: 100%;  
    background-color: white;
    gap: 50px;   
    justify-content: space-around;
    align-items: center;   
    list-style-type: none;                             
    z-index: 1000;
    box-shadow: 0px 4px 6px rgba(110, 110, 110, 0.1);  

}

header > li > a {
    font-family: 'Bebas Neue';
    font-size: 16px;
    text-decoration: none;
    color: black;
}

header > button > a {
    font-family: 'Bebas Neue';
    font-size: 16px;
    text-decoration: none;
    color: rgb(255, 255, 255);

}

header > img {
    width: 80px;
}

header > button {
    padding: 12px 20px;
    border: none;
    background-color: #0E79B2; 
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.2s ease;
}


h2{
    font-size: 24px;
    font-weight: 200;
}


footer {
    display: flex;      
    gap: 50px;   
    justify-content: space-around;
    align-items: center;   
    list-style-type: none;         
    padding: 0;                    
    margin: 0;  
    margin-top: 30px;       
}

footer > .ikony {
    display: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    margin-top: 40px;
    margin-bottom: 40px;
}

footer > .ikony > a > img {
    height: 32px;
}

footer > li {
    font-family: 'Bebas Neue';
}

footer > li > a {
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 620px) {
    header {
        flex-direction: column;
        gap: 20px;
        padding: 10px;
        position: relative;
    }

    header > img {
        width: 60px;
    }

    header > li {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        
    }

    header > li > a{
        font-size: 24px;
    }

    header > button {
        font-size: 30px;
        padding: 10px 16px;
    }

    footer {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }

    footer > .ikony {
        gap: 12px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    footer > .ikony > a > img {
        height: 28px;
    }
}
